[submodule "modules/vim"]
	path = modules/vim
	url = https://github.com/microjoint/puppet-vim.git
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/puppetlabs/puppetlabs-git.git
[submodule "modules/dropbox"]
	path = modules/dropbox
	url = https://github.com/microjoint/mj-puppet-dropbox.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://forge.puppetlabs.com/puppetlabs/apt
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/bash"]
	path = modules/bash
	url = https://github.com/microjoint/mj-puppet-bash.git
[submodule "modules/openssh"]
	path = modules/openssh
	url = https://github.com/microjoint/mj-puppet-openssh.git
[submodule "modules/dnsmasq"]
	path = modules/dnsmasq
	url = https://github.com/microjoint/mj-puppet-dnsmasq.git
[submodule "modules/pdnsd"]
	path = modules/pdnsd
	url = https://github.com/microjoint/puppet-pdnsd.git
[submodule "modules/laptop_mode"]
	path = modules/laptop_mode
	url = https://github.com/microjoint/puppet-laptop_mode.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
